[submodule "baselines/openpi"]
	path = baselines/openpi
	url = https://github.com/wensi-ai/openpi.git
	branch = behavior
[submodule "baselines/il_lib"]
	path = baselines/il_lib
	url = https://github.com/wensi-ai/il_lib.git
	branch = main
[submodule "baselines/openvla-oft"]
	path = baselines/openvla-oft
	url = https://github.com/evansh666/openvla-oft.git
	branch = main
[submodule "behavior-1k"]
	path = behavior-1k
	url = git@github.com:StanfordVL/BEHAVIOR-1K.git
